In [1]:
#importing libaries.
import pandas as pd

# Basobas

In [2]:
basobas_df=pd.read_csv(r"D:\Housing Project\Data Collection\baobas\basobas.csv")
basobas_df.head(15)

,price,location,area,facing,no_of_bedroom,no_of_bathroom,no_of_livingroom,no_of_kitchen,parking,road_size,furniture,floors
0,32000000,"Shital height, Imadol",0-3-0-2,East,5.0,4.0,2.0,3.0,4.0,13.0,Semi Furnished,3.0
1,28000000,Shital Height,0-3-0-0,West,5.0,4.0,2.0,3.5,2.0,13.0,Semi Furnished,3.5
2,32500000,House for sale bhangal,NaN,South,NaN,NaN,NaN,NaN,NaN,NaN,Select Furnishing,NaN
3,20000000,Pulchowk birtamode,NaN,East,3.0,1.0,1.0,1.0,3.0,NaN,Select Furnishing,1.0
4,32500000,"Koteshwor, Kathmandu",NaN,West,5.0,3.0,2.0,2.5,1.0,NaN,NaN,2.5
5,40000000,"Shital height, Imadol",0-4-0-0,North,6.0,4.0,2.0,2.5,4.0,13.0,Full Furnished,2.5
6,28000000,Bhaisepati,0-4-0-0,South,6.0,3.0,2.0,2.5,4.0,16.0,Full Furnished,2.5
7,40000000,Harisiddhi,0-7-0-0,East,6.0,4.0,2.0,2.5,4.0,13.0,Full Furnished,2.5
8,47000000,"Shital height, Imadol",0-4-2-0,East,6.0,4.0,2.0,3.0,4.0,13.0,Full Furnished,3.0
9,47000000,Cheu dada,5 aana,East,6.0,5.0,NaN,2.5,2.0,NaN,Full Furnished,2.5
10,52500000,Bhaisepati,0-5-2-0,East,6.0,5.0,2.0,2.5,4.0,16.0,Full Furnished,2.5
11,42500000,Shital Height,0-4-0-0,North,6.0,4.0,2.0,3.0,4.0,13.0,Full Furnished,3.0
12,60000000,Sifal chowk,0-4-2-1,East,8.0,5.0,3.0,3.5,2.0,NaN,Full Furnished,3.5
13,35000000,baneshwor,3 aana,North,NaN,3.0,3.0,3.5,1.0,10.0,Unfurnished,3.5
14,63000000,Shital Height,0-6-0-0,South,6.0,5.0,2.0,2.5,4.0,13.0,Full Furnished,2.5

In [3]:
basobas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             286 non-null    int64
 1   location          286 non-null    object
 2   area              273 non-null    object
 3   facing            286 non-null    object
 4   no_of_bedroom     279 non-null    float64
 5   no_of_bathroom    281 non-null    float64
 6   no_of_livingroom  280 non-null    float64
 7   no_of_kitchen     281 non-null    float64
 8   parking           280 non-null    float64
 9   road_size         223 non-null    float64
 10  furniture         285 non-null    object
 11  floors            281 non-null    float64
dtypes: float64(7), int64(1), object(4)
memory usage: 26.9+ KB

In [4]:
basobas_df.isnull().sum()

price                0
location             0
area                13
facing               0
no_of_bedroom        7
no_of_bathroom       5
no_of_livingroom     6
no_of_kitchen        5
parking              6
road_size           63
furniture            1
floors               5
dtype: int64

In [5]:
basobas_df['floors'].describe()

count    281.000000
mean       2.898577
std        0.678389
min        1.000000
25%        2.500000
50%        3.000000
75%        3.000000
max        7.000000
Name: floors, dtype: float64

In [6]:
print(f'Max repeated values in floor feature is {basobas_df['floors'].mode()[0]}')

Max repeated values in floor feature is 2.5

In [7]:
#since the missing value in floor is 5 so its feels okey and is replce NAN with mode ie is 2.5 
basobas_df['floors']=basobas_df['floors'].fillna('2.5')

In [8]:
#since the there is single lisiting with missing furnishing feature so its okey to replace with unfurnished value.
basobas_df['furniture']=basobas_df['furniture'].fillna('Unfurnished')

In [9]:
print(f'Max repeated values in road size feature is {basobas_df['road_size'].mode()[0]}')

Max repeated values in road size feature is 13.0

In [10]:
# as the mode of road size feature is 13 and 13 is the minimum and standard size for nepali road so it is okey to fill up NAN with 13.0
basobas_df['road_size']=basobas_df['road_size'].fillna('13.0')

In [11]:
print(f'Max repeated values in parking feature is {basobas_df['parking'].mode()[0]}')

Max repeated values in parking feature is 4.0

In [12]:
# 4.0 is the parking space most hosuing offer we can replace NAN value with 4.0 as max housing offer open space avilable to pard 4 bikes.
basobas_df['parking']=basobas_df['parking'].fillna('4.0')

In [13]:
print(f'Max repeated values in no of bedroom feature is {basobas_df['no_of_bedroom'].mode()[0]}')
print(f'Max repeated values in no of bathroom feature is {basobas_df['no_of_bathroom'].mode()[0]}')
print(f'Max repeated values in no of livingroom feature is {basobas_df['no_of_livingroom'].mode()[0]}')
print(f'Max repeated values in no of kitchen feature is {basobas_df['no_of_kitchen'].mode()[0]}')

Max repeated values in no of bedroom feature is 5.0
Max repeated values in no of bathroom feature is 4.0
Max repeated values in no of livingroom feature is 2.0
Max repeated values in no of kitchen feature is 2.5

In [14]:
#the fractional values of kitchen is for whole kichen and half dininag  area so , we will just round up the value and fill up the NAN and for other bedroom,bathrom,living room look as normal as normal hosues in nepal.
basobas_df['no_of_bedroom']=basobas_df['no_of_bedroom'].fillna('5.0')
basobas_df['no_of_bathroom']=basobas_df['no_of_bathroom'].fillna('4.0')
basobas_df['no_of_livingroom']=basobas_df['no_of_livingroom'].fillna('2.0')
basobas_df['no_of_kitchen']=basobas_df['no_of_kitchen'].fillna(round(2.5))
basobas_df['no_of_kitchen']=basobas_df['no_of_kitchen'].apply(lambda x:round(x))

In [15]:
basobas_df.isnull().sum()

price                0
location             0
area                13
facing               0
no_of_bedroom        0
no_of_bathroom       0
no_of_livingroom     0
no_of_kitchen        0
parking              0
road_size            0
furniture            0
floors               0
dtype: int64

In [16]:
#for location values  the format covers as (location,city) so we can drop city and use location data.
basobas_df['location']=basobas_df['location'].str.split(',').str[0]

In [17]:
basobas_df.sample(5)

,price,location,area,facing,no_of_bedroom,no_of_bathroom,no_of_livingroom,no_of_kitchen,parking,road_size,furniture,floors
64,35000000,Tikathali,0-4-0-0,South,6.0,4.0,3.0,3,3.0,20.0,Semi Furnished,3.0
249,24500000,2.5 km from kalanki,4 aana 1 paisa 3 daam,East,8.0,5.0,3.0,3,2.0,13.0,Semi Furnished,3.0
147,29500000,Imadol,0-3-2-0,South,6.0,5.0,2.0,3,4.0,13.0,Semi Furnished,3.0
136,55000000,Imadol,0-5-0-0,West,5.0,4.0,2.0,4,3.0,13.0,Full Furnished,3.5
93,80000000,Basundhara,0-8-0-0,East,8.0,4.0,2.0,3,6.0,26.0,Semi Furnished,3.0

In [18]:
# Conversion factors (approximate)
ropani_to_sqft = 5476
aana_to_sqft = 42.253
paisa_to_sqft = 85.56
daam_to_sqft = 21.39

def convert_to_sqft(measurement):
    """Converts a Nepali land measurement to square feet.

    Args:
        measurement: A string representing the Nepali land measurement.

    Returns:
        The equivalent measurement in square feet, or None if the measurement is invalid.
    """

    # Handle numerical values directly
    try:
        return float(measurement)
    except ValueError:
        pass

    # Handle Nepali units
    measurement = measurement.lower()
    if 'ropani' in measurement:
        try:
            return float(measurement.split(' ')[0]) * ropani_to_sqft
        except ValueError:
            pass
    elif 'aana' in measurement:
        try:
            return float(measurement.split(' ')[0]) * aana_to_sqft
        except ValueError:
            pass
    elif 'paisa' in measurement:
        try:
            return float(measurement.split(' ')[0]) * paisa_to_sqft
        except ValueError:
            pass
    elif 'poisa' in measurement:
        try:
            return float(measurement.split(' ')[0]) * paisa_to_sqft
        except ValueError:
            pass
    elif 'daam' in measurement:
        try:
            return float(measurement.split(' ')[0]) * daam_to_sqft
        except ValueError:
            pass
    elif 'sqft' in measurement:
        try:
            return float(measurement.split(' ')[0])
        except ValueError:
            pass
    elif 'sq ft' in measurement:
        try:
            return float(measurement.split(' ')[0])
        except ValueError:
            pass     
    elif '-' in measurement:
        # Handle '0-3-3-0' format
        parts = measurement.split('-')
        if len(parts) == 4:
            ropani, aana, paisa, daam = map(float, parts)
            return ropani * ropani_to_sqft + aana * aana_to_sqft + paisa * paisa_to_sqft + daam * daam_to_sqft
        else:
            return None

    # Handle invalid measurements
    return None

# Sample data
 # Replace with your actual data
data=basobas_df['area']
# Convert to square feet
results = []
for measurement in data:
    sqft = convert_to_sqft(measurement)
    results.append(sqft)

In [19]:
basobas_df['area']=basobas_df['area'].apply(convert_to_sqft)

In [20]:
#for the area as it is most imp thing so we gonna drop all nan value
basobas_df=basobas_df.dropna()

In [21]:
basobas_df.isnull().sum()

price               0
location            0
area                0
facing              0
no_of_bedroom       0
no_of_bathroom      0
no_of_livingroom    0
no_of_kitchen       0
parking             0
road_size           0
furniture           0
floors              0
dtype: int64

--------------------------------------------------------------------------------------------------------------------------------------------------------

# Gharderi

--------------------------------------------------------------------------------------------------------------------------------------------------------

In [22]:
gharderi_df=pd.read_csv(r"D:\Housing Project\Data Collection\ghardhera\added_raw_gharghaderi.csv")

In [23]:
gharderi_df.head()

,Unnamed: 0,price,location,area,facing,no_of_bedroom,no_of_bathroom,no_of_livingroom,no_of_kitchen,parking,road_size,floors
0,0,"रु.2,40,00,000",Kapan,3.30anna,South,4,4,2,undefined,10,15,2.5
1,1,"रु.2,50,00,000",Imadol,3 ana 1 paisa,South,7,4,2,2,8,NaN,3
2,2,"रु.3,65,00,000",Imadol,3.5 aana,Select,8,4,2,2,8,24,3
3,3,"रु.2,15,00,000",Imadol,Paune 3 ana,Select,7,4,2,2,7,NaN,3
4,4,"रु.3,80,00,000",Imadol,4 Aana 1 Paisa,East,7,5,2,2,16,13,3.5

In [24]:
#arraning the data structure of price.
gharderi_df.drop(columns=['Unnamed: 0'],inplace=True)
gharderi_df['price']=gharderi_df['price'].str.split('.').str[1]
gharderi_df['price']=gharderi_df['price'].apply(lambda x:x.split(','))
gharderi_df['price']=gharderi_df['price'].apply(lambda x:"".join(x))

In [25]:
gharderi_df.head()

,price,location,area,facing,no_of_bedroom,no_of_bathroom,no_of_livingroom,no_of_kitchen,parking,road_size,floors
0,24000000,Kapan,3.30anna,South,4,4,2,undefined,10,15,2.5
1,25000000,Imadol,3 ana 1 paisa,South,7,4,2,2,8,NaN,3
2,36500000,Imadol,3.5 aana,Select,8,4,2,2,8,24,3
3,21500000,Imadol,Paune 3 ana,Select,7,4,2,2,7,NaN,3
4,38000000,Imadol,4 Aana 1 Paisa,East,7,5,2,2,16,13,3.5

In [26]:
gharderi_df.isnull().sum()

price                 0
location              2
area                  3
facing                2
no_of_bedroom         2
no_of_bathroom        2
no_of_livingroom      2
no_of_kitchen       471
parking             476
road_size           103
floors                2
dtype: int64

In [27]:
print(f'Max repeated values in parking feature is {gharderi_df['floors'].mode()[0]}')

Max repeated values in parking feature is 2.5

In [28]:
#lets input the missing NA value with the mode value.
gharderi_df['floors']=gharderi_df['floors'].fillna('2.5')

In [29]:
print(f'Max repeated values in parking feature is {gharderi_df['road_size'].mode()[0]}')

Max repeated values in parking feature is 13

In [30]:
#as 13 ft is the basic and standar road size we can input it .
gharderi_df['road_size']=gharderi_df['road_size'].fillna('13')

In [31]:
#lest just fill the missing na value with 0
gharderi_df['parking']=gharderi_df['parking'].fillna('0')

In [32]:
print(f'Max repeated values in no of bedroom feature is {gharderi_df['no_of_bedroom'].mode()[0]}')
print(f'Max repeated values in no of bathroom feature is {gharderi_df['no_of_bathroom'].mode()[0]}')
print(f'Max repeated values in no of kitchen feature is {gharderi_df['no_of_kitchen'].mode()[0]}')
print(f'Max repeated values in no of livingroom feature is {gharderi_df['no_of_livingroom'].mode()[0]}')

Max repeated values in no of bedroom feature is 5
Max repeated values in no of bathroom feature is 4
Max repeated values in no of kitchen feature is 2
Max repeated values in no of livingroom feature is 2

In [33]:
#lest just fill the missing na value with most repeting values.
gharderi_df['no_of_bedroom']=gharderi_df['no_of_bedroom'].fillna('5')
gharderi_df['no_of_bathroom']=gharderi_df['no_of_bathroom'].fillna('4')
gharderi_df['no_of_kitchen']=gharderi_df['no_of_kitchen'].fillna('2')
gharderi_df['no_of_livingroom']=gharderi_df['no_of_livingroom'].fillna('2')

In [34]:
print(f'Max repeated values in property facing feature is {gharderi_df['facing'].mode()[0]}')

Max repeated values in property facing feature is East

In [35]:
#east is faroable and accepted by nepali vastu so its beter to add 2 missing value with EAST
gharderi_df['facing']=gharderi_df['facing'].fillna('East')

In [36]:
print(f'Facing lists:{gharderi_df['facing'].unique()}')
print(f'Bedroom Values:{gharderi_df['no_of_bedroom'].unique()}')
print(f'Bathroom Vales: {gharderi_df['no_of_bathroom'].unique()}')
print(f'Livingroom Vales: {gharderi_df['no_of_livingroom'].unique()}')
print(f'Kitchen Values: {gharderi_df['no_of_kitchen'].unique()}')
print(f'Parking Values: {gharderi_df['parking'].unique()}')
print(f'Road_size Values: {gharderi_df['road_size'].unique()}')
print(f'Floor values:{gharderi_df['floors'].unique()}')

Facing lists:['South' 'Select' 'East' 'West' 'North' 'north']
Bedroom Values:['4' '7' '8' '5' '6' '3' '15' '2' 'undefined' '10' '0' '8+' '11' '12' '9'
 '13' '1' '12-Aug']
Bathroom Vales: ['4' '5' '3' '1' '6' '2' 'undefined' '7' '0' '8' '9' '10-Aug' '8+' '5+']
Livingroom Vales: ['2' '1' '3' '0' '4' 'undefined' '7' '12' '5+' '15' '5' '8' '11' '6' '9'
 '10' '13+' '14']
Kitchen Values: ['undefined' '2' '1' '3' '0' '4' '6' '5+']
Parking Values: ['10' '8' '7' '16' '13' '14' '5' '15' '12' '6' '9' '11' 'undefined' '18'
 '17' '33' '3' '0' '4' '19' '1' '13+']
Road_size Values: ['15' '13' '24' '20Ft' '13ft' '16' '14' '26' '20' '12' '4' '10' '24ft' '0'
 '22' '8' 'East' '20ft' '15ft' '18' '11' '4ft' '9' '20/14' '23' '30'
 '13feet' '11ft' '17' '6' '6m' '27' '32ft' '40+' 'Only' '300m' '13,'
 '14ft' '7m' '6,7,12ft' 'Above' '5.5tr' '12-Oct' '25' 'east' '3.5' '2m'
 '28ft' '16ft' '3' '28' '10m' '5' '10ft' '32' '7.5' '+12ft' '44' '60'
 'current' '40feet' '42' '7.6' '7']
Floor values:['2.5' '3' '3.5' '2' 'undefined' '6' '1.5' '4' '5' '0' '1' '4.5' '5+' '9+'
 '7']

##### From the above obseravtion we see there are few irelevent valuese so we shoup find the percentage that they cover and replace or drop those values.

Lets make the list of values needed to replace.
Facing:select.
Bedroom:undefined.
Bathroom:undefined.
Livingroom:undefined.
Kitchen:undefined.
Parking:undeifned.
Road size:east,only.
floor values:undefined,5+,9+.

In [37]:
print(f'Pct of wrong values(Select):{(gharderi_df['facing'].value_counts()['Select']/len(gharderi_df['facing'])*100)}')
print(f'Pct of Bedroom wrong values(undefined):{(gharderi_df['no_of_bedroom'].value_counts()['undefined']/len(gharderi_df['no_of_bedroom'])*100)}')
print(f'Pct of Bathroom wrong vales(undefined): {(gharderi_df['no_of_bathroom'].value_counts()['undefined']/len(gharderi_df['no_of_bathroom'])*100)}')
print(f'pct of Livingroom wrong vales(undefined): {(gharderi_df['no_of_livingroom'].value_counts()['undefined']/len(gharderi_df['no_of_livingroom'])*100)}')
print(f'Pct of Kitchen wrong values(undefined): {(gharderi_df['no_of_kitchen'].value_counts()['undefined']/len(gharderi_df['no_of_kitchen'])*100)}')
print(f'Pct of Parking wrong values(undefined): {(gharderi_df['parking'].value_counts()['undefined']/len(gharderi_df['parking'])*100)}')
print(f'Pct of Road_sizewrong value Values(east): {(gharderi_df['road_size'].value_counts()['East']/len(gharderi_df['road_size'])*100)}')
print(f'Pct of Road_sizewrong value Values(only): {(gharderi_df['road_size'].value_counts()['Only']/len(gharderi_df['road_size'])*100)}')
print(f'Pct of Floor wrong values(undefined):{(gharderi_df['floors'].value_counts()['undefined']/len(gharderi_df['floors'])*100)}')
print(f'Pct of Floor wrong values(5+):{(gharderi_df['floors'].value_counts()['5+']/len(gharderi_df['floors'])*100)}')
print(f'Pct of Floor wrong values(9+):{(gharderi_df['floors'].value_counts()['9+']/len(gharderi_df['floors'])*100)}')

Pct of wrong values(Select):1.8867924528301887
Pct of Bedroom wrong values(undefined):0.5145797598627788
Pct of Bathroom wrong vales(undefined): 0.42881646655231564
pct of Livingroom wrong vales(undefined): 0.8576329331046313
Pct of Kitchen wrong values(undefined): 0.8576329331046313
Pct of Parking wrong values(undefined): 10.548885077186965
Pct of Road_sizewrong value Values(east): 0.08576329331046312
Pct of Road_sizewrong value Values(only): 0.17152658662092624
Pct of Floor wrong values(undefined):0.8576329331046313
Pct of Floor wrong values(5+):0.8576329331046313
Pct of Floor wrong values(9+):0.17152658662092624

In [38]:
print(f'The shape of df(Gharderi) before data removal is :{gharderi_df.shape}')

The shape of df(Gharderi) before data removal is :(1166, 11)

In [39]:
#since the values of wrong inputs are less the a percentage in one and is quite less so we can drop those values.
gharderi_df=gharderi_df[gharderi_df['facing']!='Select']
gharderi_df=gharderi_df[gharderi_df['no_of_bedroom']!='undefined']
gharderi_df=gharderi_df[gharderi_df['no_of_bathroom']!='undefined']
gharderi_df=gharderi_df[gharderi_df['no_of_livingroom']!='undefined']
gharderi_df=gharderi_df[gharderi_df['no_of_kitchen']!='undefined']
gharderi_df=gharderi_df[gharderi_df['parking']!='undefined']
gharderi_df=gharderi_df[gharderi_df['road_size']!='East']
gharderi_df=gharderi_df[gharderi_df['road_size']!='Only']
gharderi_df=gharderi_df[gharderi_df['floors']!='undefined']
gharderi_df=gharderi_df[gharderi_df['floors']!='5+']
gharderi_df=gharderi_df[gharderi_df['floors']!='9+']

In [40]:
gharderi_df['no_of_bedroom']=gharderi_df['no_of_bedroom'].str.split('-').str[0]
gharderi_df['no_of_bedroom']=gharderi_df['no_of_bedroom'].str.split('+').str[0]

In [41]:
print(f'The shape of df(Gharderi) after data removal is :{gharderi_df.shape}')

The shape of df(Gharderi) after data removal is :(994, 11)

In [42]:
print(f'Facing lists:{gharderi_df['area'].unique()}')

Facing lists:['3 ana 1 paisa' '4 Aana 1 Paisa' '3 Aana 2 Daam' '10 Aana' '7 aana'
 '4 aana' '4 Aana' '2.5 Aana' '7 Aana' '4 Aana 3 Paisa' '4.5 Aana' '3anna'
 '3.5 aana' '1.5 Aana' '5.5 Aana' '5.5 aana' '6.6' '6anna'
 '4 Anna 1 paisa' '4.5 aana' '5 Aana' '3 Aana 3 Paisa' '3 Aana 1 Daam'
 '6 aana' '3 Aana 2 Paisa' '3 aana' '4 Aana 1 Paisa 2 Daam' '5 aana'
 '3 Aana 1 Paisa 1 Daam' '5 Anna' '4 aana 1 paisa 1 dam' '4 Anna 2 Paisa'
 '0' '3 anna 2 paisa' '5. Anna 2 Paisa / 5 Anna 2 paisa 2 dam' '3.45'
 '4 anna 2 dam' '3.5' '14ana' '3 Aana 1 Paisa 2 Daam' '14' '5 Aana 1 Daam'
 '5 Aana 1 Paisa' '6.1 Aana' '3 Aana' '3 Aana 2 Paisa 2 Daam'
 '3 Aana 1.5 Daam' '3 Aana 1 Paisa' '7' '3.5 Aana' '4 ana 1 dam'
 '16 Aana 1 Ropani' '0-5-1-3' '8.2 ana' '6 Aana' '3 aana 3 paisa 3 dam'
 '4 Anna 1 Daam' '6 Anna 1 Paisa' '3 Anna 3 Paisa' '3 Anna 2 Paisa'
 '4anna' '3 ana' '3 Anna 2 Dam' '3 Anna, 3 Paisa, 3 Dam' '4.5anna'
 '1069.5' '2 Aana 3 Paisa' '3 aana 1 paisa 1 dam' '4 Anna 2 Daam'
 '3Anna 1Paisa' '5.5 Anna' '5' '3 aana 2 paisa' 'Nepal' '3/2/2000'
 '2/3/2000' '2/1/2003' '10 aana 3 paisa' '3 Anna 3 pasia' '3.1'
 '3aana 2paisa' '3aana 2daam' '5.2 Anna' '6 anna 2 paisa' '3 aana 2paisa'
 '9 dhur' '0-4-3-0' '2aana 3paisa' '3 ana 3 dam' '4.75 aana'
 '3ana 1 paisa' '4aana 2daam' '3 aana 2p2d' '4 anna' '3 aana 1paisa 2daam'
 '2aana3paisa' '4 aana2paisa' '2.5aana' '4aana2daam' '4 aana1paisa'
 '12aana 2daam' '3 aana1paisa' '4aana1paisa' '4aana 2 daam' '0-3-1-1'
 '5ANA 1 PAISA' '3 aana 3 daam' '4 aana 2 daam' '0-2-2-1' '7aana' '3 Anaa'
 '4.5 ana' '3 aana 3 paisa' '2 aana 2 paisa' '7 aana3paisa' '3ana3pais'
 '7 aana 2 paisa' '4 aana 3 paisa 3 daam' '1 ropani 4 aana'
 '2 ropani 2 aana' '1 ropani' '9 aana' '13 aana' '13 aana 3 paisa'
 '4 aana 1 paisa 1 daam' '17 Ropani' '14 aana 1 daam' '15 Aana' '3.5aana'
 '8.5' '17 Aana' '4.1 Aana' '3 aana 3 paisa 3 daam' '1 Ropani'
 '4 aana 1 paisa 2 daam' '3 aana 1 daam' '4.3' '19 Aana' '3 aana 1 paisa'
 '6 aana 1 paisa' '8 aana 3 paisa' '30.5 anna' '4 aana 1 Paisa 2 Daam'
 '3 anna' '3 aana 2 daam' '10 aana' '4 Aana 3 Daam'
 '3 aana 1 paisa 2 daam' '3 aana 5 paisa' '8 aana' '1 ropani 2 aana'
 '12 aana' '5 aana 2 paisa' '15 aana 1 paisa' '3 Ana 2 Dam' '2.5'
 '8 aana 2 paisa' '1 ropani 3 aana 2 paisa' '115 sq m' '6anna2paisa'
 '3 aana 3 dam' '3Aana' '2 Aana 2 paisa' '11 Ana' '3 Aana 2 Poisa 2 Daam'
 'approx. 14 aana' '2Aana 3poisa 2daam' '3 Aana 1 Poisa 2 Daam'
 '4Aana 1 Poisa' '4 Aana 2 Daam' '2 Aana 3 Poisa' '5 Aana 1 Poisa'
 '3 Aana 2Poisa' '3 Aana 1 Poisa' '4 Aana 2 poisa' '3Aana 1Poisa'
 '0-3-1-0' '2 Aana 3 Paisa 2 Daam' '2 Aana 2 Paisa 2 Daam'
 '5 Aana 2 Paisa 2 Daam' '3 Aana 1 Pais' '4 Aana 1 Daam'
 '3 Aana 2 Paisa 1 Daam' '20 Aanna' '1155.3' '8 aana 1 daam'
 '4 aana 2 paisa' '13 Ropani' '3 Aana ! Daam' '0-5-1-1'
 '6-3-1-0 2023 sq ft' '9.3188 aana / 3189.375 sq.ft.' '0-4-2-0' '11 aana'
 '3 Ana 1 paisa' '4anna2dam' '10anna' '5 Ana' '4.1 aana' '3.75 anna'
 '5 aana 1 paisa' '5 aana 2 paisa 2 daam' '4 Kattha' '8 aana 1 paisa'
 '3aana' '4aana' '3 aana 2 paisa 2 dam' '4 aana 1 paisa'
 '3 aana 1 paisa 2 dam' '2.5 aana' '0-4-0-0' '6.5 anna'
 '2 aana 3 paisa 1 dam' '2aana 3 paisa 2dam' '4.2 aana' '15 dhur'
 '4 aana 1.5 dam' '2 aana 3 paisa' '2 anna 3 paisa' '6 aana 2 paisa'
 '800 sqft' '6ana3dam' '4anna 1 paisa' '1500 Sqft' '3657.8' '700 sqft'
 '12anna' '4aana 2 dam' '3.1.2' '1280' '5anna' '3.50anna' '3.5ana' '1615'
 '3Anna' '8 aana/3200 sq ft.' '0-10-0-1' '900 sqft' '4.39 ana' '0-3-1'
 '18 Anna' '2.5ana' '14.5 Dhur' '1kattha' '1200 sqft' '4anna,5anna'
 '2/2/2002' '16' '3.75 aana' '2227 sq ft' '0-2-2-0' '0-2-3-0' '0-3-3-0'
 '0-3-0-1' '0-3-0-2' '2000 Sqft' '6 anna' '11 aana 2 paisa' '2300sqft'
 '0-3-2-0' '11 Aana' '2 aana' '3 Anna' '3.2 aana' '2.50anna' '28 Aana'
 '8 Aana' '24 aana' '3' '1000 sqft' '1100 sqft' '0-4-2-0 aana' '1300 sqft'
 '15.2 aana' '7 Ana +' '6' '10' '10.75 dhur' '0-3-0-3' '3.75' '5814' '2,5'
 '2.3' '5.5' '13' '13.84 anna' '6 Aana 2 Paisa 2 Daam' '26.5 dhur' '1361'
 '2560' '7.2' '7.5. Anna' '4.25 Aana' '2.85 aanas' '9.25 aanas' '5.5 dhur'
 '12 dhur' '0-10-0-0' '4.25 aana' '5.5aana' '22 Dhur' '1070' '0-6-2-3.066'
 '22' '7 dhur' '4.75' '9 .85 aana' '5/2/2003' '0-6-2-0' '1800 sqft'
 '0-4-1-2' '126.15 sqmt' '4 aana / 2 paisa' '5 aana 1 paisa 3daam'
 '0-5-0-0' '1711 Sqft' '3/1/2001' '6aana' '4.5 - 11 aana' '0-8-1-2'
 '4.5 anna' '3.2' '6.5 ana' '3800 Sq feet' '29' '4.5' '3.8' '3.3.2' '3.3'
 '4.1' '3 kattha' '2203.22' '3 kattha 4 dhur' '8.1' '11' '8' '6.3' '20'
 '10.5' '9' '4.1.2' '6.02' '4' '7 anna' '1200sqft' '1020 sqft' '3.1 Aana'
 '5 Aaana' '1205' '23.004sqt' '1275.75' '4 Ana' '1822.5' '3 aana 1 dam'
 '7 aana 1 paisa' '9.5 aana' '6ana' '0-2-2-2 Ropani' '3aana3paisa'
 '0-7-2-3.14' '4 ana 2 dam' '2 kattha' '0-5-2-0' '3 aana 2 dam' '3.5 Anna'
 '6 ana 1 paisa chanchun' '2 aana 2 paisa 2 dam' '2053.5 aqft' '1600 Sqft'
 '3 aana 1 Paisa' nan '4 aana 1 paisa 2 dam' '0-10-00-00' '0-3-1-2'
 '12 aanaa' '5 aana 3 paisa' '3ana 4 paisa' '8.1 Aana'
 '3 aana 4 paisa 1 daam' '4 aana 5 paisa' '0-4-1-3' '0-3-0-0' '0-8-2-0'
 '3.3.1 Aana' '5.1 aana' '0-4-3 -0' '26 dhur (13.8 aana)' '0-8-3-1'
 '8 and half aana' '9.5 Dhur' '5.45 anna' '3/1/2002' '10 anna'
 '1 Anna 2 paisa' '4 anna 3 paisa' '25.2 square ft' '7 / 2395.75'
 '0-9-0-0.39' '3645' '7290' '90.2square meter' '500 Sqft' '0-4-0-3.79'
 '1711.25' '1540.125' '15.97 ana' '15 Haat' '4 Anna' '0-8-0-0' '0-7-1-0'
 '0-3-2-1' '0-9-0-0' '4 aana 3 paisa' '151.25' '10 Anna' '3.5 anna'
 '18 Dhur' '3 aaana' '0-4-2-1' '14 ana' '5-Apr' '2.2aana' '1-3-0-0'
 '3.1 aana' '898.44' '3080 Sqft' '15.2 Aana' '5aana 2dam' '3aana 1dam'
 '6.25' '2.75 aana' '9.24' '4 aana 1 dam' '3.5 ana' '1197.87' '5aana'
 '11.5 Anna' '3Aana 2Dam' '4 aana 3 paisa 1 daam' '1 kattha' '7.2 aana'
 '34 Aana' '7.2Aana' '9.2 Aana' '4.2 Aana' '1440' '15 Dhur' '4 ana'
 '6.2 aana' '1863 Sqft' '4anna 3.77 dam' '6.5 Anna' '4.2 ana' '5. 5 anna'
 '8 aana 2 paisa 2 daam' '1750' '4 annna' '3.1 Ana' '4ana' '5.5ana'
 '4.1paisa' '10/317.90' '4.2' '3-4 anna' '6.1 aana' '32 aana' '63.58'
 '4 aana 2 dam' '6-7.5 aana' '0-4-2-2' '1194' '0-6-0-0' '0-12-0-0' '2151'
 '3380 sq ft' '11 anna 1 Paisa, 3800 sq ft' '18 aana' '0-2-3-2' '1027'
 '1500 Sqft +' '1.5 ropani' '0-5-2-2' '8 dhur' '9anna' '0-0-0-0' '0-5-2-3']

In [43]:
gharderi_df['area']=gharderi_df['area'].apply(convert_to_sqft)

In [44]:
gharderi_df['area']=gharderi_df['area'].replace('0.0','')

In [45]:
gharderi_df.isnull().sum()

price                 0
location              2
area                224
facing                0
no_of_bedroom         0
no_of_bathroom        0
no_of_livingroom      0
no_of_kitchen         0
parking               0
road_size             0
floors                0
dtype: int64

In [46]:
gharderi_df=gharderi_df.dropna()

In [47]:
gharderi_df.isnull().sum()

price               0
location            0
area                0
facing              0
no_of_bedroom       0
no_of_bathroom      0
no_of_livingroom    0
no_of_kitchen       0
parking             0
road_size           0
floors              0
dtype: int64

In [48]:
gharderi_df.head()

,price,location,area,facing,no_of_bedroom,no_of_bathroom,no_of_livingroom,no_of_kitchen,parking,road_size,floors
1,25000000,Imadol,256.680,South,7,4,2,2,8,13,3
4,38000000,Imadol,169.012,East,7,5,2,2,16,13,3.5
5,32000000,Imadol,126.759,East,5,4,2,2,13,13,3
6,115000000,Sinamangal,422.530,West,4,3,2,1,10,20Ft,2
7,40000000,Harisiddhi,295.771,East,6,4,2,2,14,13,2.5

---------------------------------------------------------------------------------------------------------------------------------------------------------

# GharSansar

In [49]:
gharsansar_df=pd.read_csv(r"D:\Housing Project\Data Collection\Gharsansar\Ghar_sansar_raw.csv")

In [50]:
gharsansar_df.head()

,price,location,area,facing,no_of_bedroom,no_of_bathroom,no_of_livingroom,no_of_kitchen,parking,road_size,road_type,land_size
0,Crore,Ramkot,: 2,WEST-NORTH,Paisa,1.0,2.0,1.0,1 Car & 5 Bikes,:,Concrete,4 Anna 1 Paisa
1,"45,000,000/-",Buddhanilkantha,2930 Sq.ft,SOUTH-WEST,5,4.0,3.0,1.0,2 Cars & 3 Bikes,13,Gravel,5 Anna
2,(negotiable),Lalitpur,NaN,Shrestha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(negotiable),Lalitpur,NaN,Shrestha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"63,500,000/-",Buddhanilkantha,3215 Sq.ft,EAST-NORTH,6,5.0,3.0,1.0,2 Car & 5 Bikes,13,Gravel,8.5 Anna

In [51]:
gharsansar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             450 non-null    object
 1   location          450 non-null    object
 2   area              300 non-null    object
 3   facing            450 non-null    object
 4   no_of_bedroom     300 non-null    object
 5   no_of_bathroom    300 non-null    float64
 6   no_of_livingroom  300 non-null    float64
 7   no_of_kitchen     300 non-null    float64
 8   parking           300 non-null    object
 9   road_size         300 non-null    object
 10  road_type         300 non-null    object
 11  land_size         300 non-null    object
dtypes: float64(3), object(9)
memory usage: 42.3+ KB

In [52]:
gharsansar_df['price'].unique()

array(['Crore', '45,000,000/-', '(negotiable)', '63,500,000/-',
       '55000000/-', '79,000,000/-', '16000000', '39,500,000/-'],
      dtype=object)

In [53]:
#lets replace the non relivatant data into NAN or none
gharsansar_df['price']=gharsansar_df['price'].replace(['Crore','(negotiable)'],'')

In [54]:
# removing (,/-) from price series
gharsansar_df['price']=gharsansar_df['price'].apply(lambda x:x.replace(',','').replace('/','').replace('-',''))

In [55]:
print(f'Unique vales bedroom:{gharsansar_df['no_of_bedroom'].unique()}')
print(f'Unique vales bathroom:{gharsansar_df['no_of_bathroom'].unique()}')
print(f'Unique vales livingroom:{gharsansar_df['no_of_livingroom'].unique()}')
print(f'Unique vales kitchen:{gharsansar_df['no_of_kitchen'].unique()}')
print(f'Unique vales road size:{gharsansar_df['road_size'].unique()}')
print(f'Unique vales road size:{gharsansar_df['area'].unique()}')

Unique vales bedroom:['Paisa' '5' nan '6']
Unique vales bathroom:[ 1.  4. nan  5.  6.]
Unique vales livingroom:[ 2.  3. nan]
Unique vales kitchen:[ 1. nan]
Unique vales road size:[':' '13' nan '20' '18']
Unique vales road size:[': 2' '2930 Sq.ft' nan '3215 Sq.ft' '2755 Sq.ft' '3155 Sq.ft' '1 Paisa']

In [56]:
def isnum(x):
    try:
        float(x)
        return True
    except ValueError:
        return False
gharsansar_df['no_of_bedroom']=gharsansar_df['no_of_bedroom'].apply(lambda x:x if isnum(x) else None)

In [57]:
#removing the data into : or no NAN
gharsansar_df['road_size']=gharsansar_df['road_size'].apply(lambda x:x if isnum(x) else None)

In [58]:
#araranging the value.
gharsansar_df['road_size']=gharsansar_df['road_size'].replace(': 2','')

In [59]:
gharsansar_df['area']=gharsansar_df['area'].str.split(' ').str[0]

In [60]:
gharsansar_df['parking'].unique()

array(['1 Car & 5 Bikes', '2 Cars & 3 Bikes', nan, '2 Car & 5 Bikes',
       '2 Car & 2 Bikes', '3 Car & 4 Bikes', '1 Car & 3 Bikes'],
      dtype=object)

In [61]:
gharsansar_df=gharsansar_df.dropna()

In [62]:
cars=gharsansar_df['parking'].str.split(' ').str[0]
bikes=gharsansar_df['parking'].str.split(' ').str[3]

In [63]:
cars.astype(int)
bikes.astype(int)

1      3
4      5
5      2
6      4
8      3
      ..
442    3
445    5
446    2
447    4
449    3
Name: parking, Length: 250, dtype: int64

In [64]:
gharsansar_df['parking']=cars*2+bikes

In [65]:
gharsansar_df.head()

,price,location,area,facing,no_of_bedroom,no_of_bathroom,no_of_livingroom,no_of_kitchen,parking,road_size,road_type,land_size
1,45000000,Buddhanilkantha,2930,SOUTH-WEST,5,4.0,3.0,1.0,223,13,Gravel,5 Anna
4,63500000,Buddhanilkantha,3215,EAST-NORTH,6,5.0,3.0,1.0,225,13,Gravel,8.5 Anna
5,55000000,Budhanilkantha,2755,SOUTH-WEST,5,5.0,2.0,1.0,222,20,Concrete,5.5 Anna
6,79000000,Hattigauda,3155,SOUTH-WEST,5,6.0,3.0,1.0,334,13,Gravel,7 Anna 3 Paisa
8,39500000,Budhanilkantha,1,SOUTH-WEST,5,5.0,2.0,1.0,113,18,Concrete,2081 B.S.

In [66]:
gharsansar_df=gharsansar_df.drop(columns=['road_type','land_size'])

# Combining all DATASETS

In [67]:
#arranging similar datastye.
print(f'Gharsansar:{gharsansar_df.info()}')
print(f'Basobas:{basobas_df.info()}')
print(f'Gharderi:{gharderi_df.info()}')

<class 'pandas.core.frame.DataFrame'>
Index: 250 entries, 1 to 449
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             250 non-null    object
 1   location          250 non-null    object
 2   area              250 non-null    object
 3   facing            250 non-null    object
 4   no_of_bedroom     250 non-null    object
 5   no_of_bathroom    250 non-null    float64
 6   no_of_livingroom  250 non-null    float64
 7   no_of_kitchen     250 non-null    float64
 8   parking           250 non-null    object
 9   road_size         250 non-null    object
dtypes: float64(3), object(7)
memory usage: 21.5+ KB
Gharsansar:None
<class 'pandas.core.frame.DataFrame'>
Index: 244 entries, 0 to 283
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             244 non-null    int64
 1   location          244 non-null    object
 2   area              244 non-null    float64
 3   facing            244 non-null    object
 4   no_of_bedroom     244 non-null    object
 5   no_of_bathroom    244 non-null    object
 6   no_of_livingroom  244 non-null    object
 7   no_of_kitchen     244 non-null    int64
 8   parking           244 non-null    object
 9   road_size         244 non-null    object
 10  furniture         244 non-null    object
 11  floors            244 non-null    object
dtypes: float64(1), int64(2), object(9)
memory usage: 24.8+ KB
Basobas:None
<class 'pandas.core.frame.DataFrame'>
Index: 770 entries, 1 to 1165
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             770 non-null    object
 1   location          770 non-null    object
 2   area              770 non-null    float64
 3   facing            770 non-null    object
 4   no_of_bedroom     770 non-null    object
 5   no_of_bathroom    770 non-null    object
 6   no_of_livingroom  770 non-null    object
 7   no_of_kitchen     770 non-null    object
 8   parking           770 non-null    object
 9   road_size         770 non-null    object
 10  floors            770 non-null    object
dtypes: float64(1), object(10)
memory usage: 72.2+ KB
Gharderi:None

In [68]:
#arranging the price dtype.
gharsansar_df['price']=gharsansar_df['price'].astype(dtype='int')
gharderi_df['price']=gharderi_df['price'].astype(dtype='int')

In [69]:
#arranging the area dtype
gharsansar_df['area']=gharsansar_df['area'].astype(dtype='float')

In [70]:
#arranging the d type for bedroom
gharsansar_df['no_of_bedroom']=gharsansar_df['no_of_bedroom'].astype(dtype='float')
gharderi_df['no_of_bedroom']=gharderi_df['no_of_bedroom'].astype(dtype='float')
basobas_df['no_of_bedroom']=basobas_df['no_of_bedroom'].astype(dtype='float')

In [71]:
gharderi_df['no_of_bathroom']=gharderi_df['no_of_bathroom'].replace('10-Aug','0')
gharderi_df['no_of_bathroom']=gharderi_df['no_of_bathroom'].str.split('+').str[0]

In [72]:
#arranging the d type for bathroom
gharsansar_df['no_of_bathroom']=gharsansar_df['no_of_bathroom'].astype(dtype='float')
gharderi_df['no_of_bathroom']=gharderi_df['no_of_bathroom'].astype(dtype='float')
basobas_df['no_of_bathroom']=basobas_df['no_of_bathroom'].astype(dtype='float')

In [73]:
gharderi_df['no_of_livingroom']=gharderi_df['no_of_livingroom'].str.split('+').str[0]

In [74]:
#arranging the d type for bathroom
gharsansar_df['no_of_livingroom']=gharsansar_df['no_of_livingroom'].astype(dtype='float')
gharderi_df['no_of_livingroom']=gharderi_df['no_of_livingroom'].astype(dtype='float')
basobas_df['no_of_livingroom']=basobas_df['no_of_livingroom'].astype(dtype='float')

In [75]:
#arranging the d type for kitchen
gharsansar_df['no_of_kitchen']=gharsansar_df['no_of_kitchen'].astype(dtype='float')
gharderi_df['no_of_kitchen']=gharderi_df['no_of_kitchen'].astype(dtype='float')
basobas_df['no_of_kitchen']=basobas_df['no_of_kitchen'].astype(dtype='float')

In [76]:
#arranging the d type for kitchen
gharsansar_df['no_of_kitchen']=gharsansar_df['no_of_kitchen'].astype(dtype='float')
gharderi_df['no_of_kitchen']=gharderi_df['no_of_kitchen'].astype(dtype='float')
basobas_df['no_of_kitchen']=basobas_df['no_of_kitchen'].astype(dtype='float')

In [77]:
gharderi_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 770 entries, 1 to 1165
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             770 non-null    int64
 1   location          770 non-null    object
 2   area              770 non-null    float64
 3   facing            770 non-null    object
 4   no_of_bedroom     770 non-null    float64
 5   no_of_bathroom    770 non-null    float64
 6   no_of_livingroom  770 non-null    float64
 7   no_of_kitchen     770 non-null    float64
 8   parking           770 non-null    object
 9   road_size         770 non-null    object
 10  floors            770 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 72.2+ KB

In [78]:
#arranging the d type for floors
gharderi_df['floors']=gharderi_df['floors'].astype(dtype='float')
basobas_df['floors']=basobas_df['floors'].astype(dtype='float')

In [79]:
gharderi_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 770 entries, 1 to 1165
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             770 non-null    int64
 1   location          770 non-null    object
 2   area              770 non-null    float64
 3   facing            770 non-null    object
 4   no_of_bedroom     770 non-null    float64
 5   no_of_bathroom    770 non-null    float64
 6   no_of_livingroom  770 non-null    float64
 7   no_of_kitchen     770 non-null    float64
 8   parking           770 non-null    object
 9   road_size         770 non-null    object
 10  floors            770 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 72.2+ KB

In [80]:
gharderi_df['road_size']

1         13
4         13
5         13
6       20Ft
7         13
        ...
1160      12
1161      13
1162      13
1163      12
1165      12
Name: road_size, Length: 770, dtype: object

In [81]:
gharderi_df['road_size'].shape

(770,)

In [82]:
gharderi_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 770 entries, 1 to 1165
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             770 non-null    int64
 1   location          770 non-null    object
 2   area              770 non-null    float64
 3   facing            770 non-null    object
 4   no_of_bedroom     770 non-null    float64
 5   no_of_bathroom    770 non-null    float64
 6   no_of_livingroom  770 non-null    float64
 7   no_of_kitchen     770 non-null    float64
 8   parking           770 non-null    object
 9   road_size         770 non-null    object
 10  floors            770 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 72.2+ KB

In [83]:

def ft_remove(value):
    value=value.lower()
    if 'ft' in value:
        return value.split('ft')[0]
    elif 'feet' in value :
        return value.split('feet')[0]
    elif '-' in value:
        return value.split('-')[0]
    elif ',' in value:
        return round(float(value.split(',')[0]))
    elif 'm' in value:
        return round(float(value.split('m')[0])*3.28)
    elif '+' in value:
        return round(float(value.split('+')[0]))
    else :
        return value

In [84]:
gharderi_df['road_size']=gharderi_df['road_size'].apply(ft_remove)

In [85]:
#arranging the d type for road size
gharsansar_df['road_size']=gharsansar_df['road_size'].astype(dtype='float')
gharderi_df['road_size']=gharderi_df['road_size'].astype(dtype='float')
basobas_df['road_size']=basobas_df['road_size'].astype(dtype='float')

# COMBINING DATASETS

In [91]:
import matplotlib.pyplot as plt 
import seaborn as sns

In [92]:
dataset=pd.concat([basobas_df,gharsansar_df,gharderi_df])

In [93]:
dataset.head()

,price,location,area,facing,no_of_bedroom,no_of_bathroom,no_of_livingroom,no_of_kitchen,parking,road_size,furniture,floors
0,32000000,Shital height,169.539,East,5.0,4.0,2.0,3.0,4.0,13.0,Semi Furnished,3.0
1,28000000,Shital Height,126.759,West,5.0,4.0,2.0,4.0,2.0,13.0,Semi Furnished,3.5
5,40000000,Shital height,169.012,North,6.0,4.0,2.0,2.0,4.0,13.0,Full Furnished,2.5
6,28000000,Bhaisepati,169.012,South,6.0,3.0,2.0,2.0,4.0,16.0,Full Furnished,2.5
7,40000000,Harisiddhi,295.771,East,6.0,4.0,2.0,2.0,4.0,13.0,Full Furnished,2.5

In [88]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1264 entries, 0 to 1165
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             1264 non-null   int64
 1   location          1264 non-null   object
 2   area              1264 non-null   float64
 3   facing            1264 non-null   object
 4   no_of_bedroom     1264 non-null   float64
 5   no_of_bathroom    1264 non-null   float64
 6   no_of_livingroom  1264 non-null   float64
 7   no_of_kitchen     1264 non-null   float64
 8   parking           1264 non-null   object
 9   road_size         1264 non-null   float64
 10  furniture         244 non-null    object
 11  floors            1014 non-null   float64
dtypes: float64(7), int64(1), object(4)
memory usage: 128.4+ KB

In [95]:
print(f'The min price is:{dataset['price'].min()}')
print(f'The max price is:{dataset['price'].max()}')

The min price is:0
The max price is:1100000000

In [98]:
dataset.sort_values(by='price')[:10]

,price,location,area,facing,no_of_bedroom,no_of_bathroom,no_of_livingroom,no_of_kitchen,parking,road_size,furniture,floors
97,0,Pasikot,253.5180,South,6.0,5.0,2.0,2.0,15,20.0,NaN,2.5
98,0,Hattigauda,257.7433,West,5.0,6.0,2.0,2.0,15,20.0,NaN,2.5
21,0,Bhaisepati,295.7710,South,5.0,6.0,2.0,2.0,15,20.0,NaN,2.5
91,0,Bhaisepati,211.2650,South,6.0,4.0,2.0,2.0,14,13.0,NaN,3.0
122,0,Hattigauda,87616.0000,East,5.0,8.0,2.0,1.0,16,13.0,NaN,2.5
832,3200000,near,1275.7500,East,1.0,1.0,1.0,2.0,0,13.0,NaN,1.0
773,3200000,Buddhanagar,1200.0000,East,2.0,2.0,4.0,2.0,0,20.0,NaN,1.0
742,4000000,Thasikhel,297.3520,West,6.0,2.0,9.0,2.0,0,3.5,NaN,2.0
740,4000000,"26.7102432,",1800.0000,East,3.0,1.0,1.0,1.0,6,16.0,NaN,1.0
1069,4200000,Makwanpur,1200.0000,East,4.0,1.0,3.0,2.0,0,13.0,NaN,1.0

In [99]:
dataset.sort_values(by='price')[-10:]

,price,location,area,facing,no_of_bedroom,no_of_bathroom,no_of_livingroom,no_of_kitchen,parking,road_size,furniture,floors
385,190000000,Rudreshwor,10952.0000,South,5.0,5.0,2.0,1.0,1,13.0,NaN,1.0
996,200000000,Old,5602.7590,West,8.0,5.0,1.0,2.0,0,20.0,NaN,3.5
670,230000000,Dhapasi,1014.0720,East,12.0,0.0,15.0,2.0,0,40.0,NaN,4.0
668,252000000,Baneshwor,1183.0840,East,4.0,4.0,1.0,2.0,0,13.0,NaN,2.5
515,260000000,Mudkhu,71188.0000,North,5.0,3.0,2.0,1.0,1,20.0,NaN,1.0
48,268000000,Baluwatar near Nepal Rastra Bank,1014.0720,East,5.0,6.0,1.0,2.0,1.0,13.0,Semi Furnished,2.5
1146,350000000,"Dillibazar,",1500.0000,South,7.0,3.0,1.0,2.0,0,10.0,NaN,3.0
1042,391000000,Maitidevi,1436.6020,East,1.0,1.0,1.0,2.0,0,13.0,NaN,1.0
1003,750000000,Duwakot,130.9843,South,4.0,1.0,4.0,2.0,0,10.0,NaN,1.0
636,1100000000,Akasay,16.0000,East,3.0,3.0,1.0,2.0,0,13.0,NaN,3.0

In [100]:
dataset.to_csv('Housing_dataset_nepal.csv')